# Python Variables

   .Variables are containers for storing data values
    
   .A variable is created the moment you first assign a value to it.
    
   .Unlike other programming languages,you dont have to declare the type of variable

In [1]:
# ex 1
X = 25
Y = 35
print(X , Y)

25 35

In [2]:
# In Python, no need to declare the type of variable .i.e,
# same varible can be used to hold different data types
x = 56
print(x)
x = 'guido van rossum'
print(x)

56
guido van rossum

# Convention For Naming Variables

  . A variable name can only contain alphabets-numeric characters and underscores (A-z, 0-9, and _ )
    
  . A variable name must start with a letter or the underscore character

  . A variable name cannot start with a number

In [3]:
# Variable names are case-sensitive
# here all the three are different variables
Age = 23
age = 23
AGE = 23
print(age , Age ,AGE)

23 23 23

In [ ]:
#Legal variable names:
myvar = "Python"
my_var = "Python"
_my_var = "Python"
myVar = "Python"
MYVAR = "Python"
myvar2 = "Python"

#Illegal variable names:
2myvar = "Python"  # starting with number
my-var = "Python"  # hyphen is not allowed 
my var = "Python"  # space in between is not allowed

# Python print() Function

. The print() function prints the specified message to the screen

. The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [5]:
print("akhil reddy malladi") #ex 1

akhil reddy malladi

In [6]:
print("well to the world of python") #ex 2

well to the world of python

In [7]:
akhil = 25    #ex 3
anil = 21
print(akhil, anil)

25 21

In [8]:
print(anil) #ex 4

21

In [9]:
a = akhil     #ex 5
b = anil
print(a,b)

25 21

In [11]:
NAME_1 = "guido"    #ex 6
Name_1 = "van"
name_1 = "rossum"
print(name_1,)

rossum

In [12]:
# Ex 7 
fruit = 'Apple'
print("I have an "+fruit)

I have an Apple

In [13]:
# Ex7)
fruit1 = 'Apple'
fruit2 = 'Banana'
print('I have 2 fruits, one is '+ fruit1+" other one is "+fruit2)

I have 2 fruits, one is Apple other one is Banana

In [14]:
print(" I have 2 fruits, one is {} other one is {}".format(fruit1,fruit2))

 I have 2 fruits, one is Apple other one is Banana

In [15]:
print(" I have 2 fruits, one is {1} other one is {0}".format(fruit1,fruit2))

 I have 2 fruits, one is Banana other one is Apple

# Python Comments

. Comments can be used to explain Python code.

. Comments can be used to make the code more readable.

. Comments can be used to prevent execution when testing code.

. '#' is used for single line comment. Python will ignore the lines starting with '#'

In [16]:
#this is a comment
print('Hello world')

Hello world

In [17]:
print('Hello world') #You can write comments here as well!

Hello world

In [18]:
print('Hello world')
# print('Welcome to python')
print('This is our first class')

Hello world
This is our first class

In [19]:
# i am a 
# multiline 
# comment 
# using '#' 
# at the beginning of
# each line
print('Hello-World')

Hello-World

In [21]:
'''iam work on python modules and its uses   #python exclude the triple code content and execute the programme
i love coding
iam a big fan of PM'''
print("super concept")

super concept

# INPUT FUNCTION ()

   . The input() function allows us to take input from the user.

In [22]:
# Ex1) ask name from the user
name = input("Enter your name : ")
print("hello "+name)

Enter your name : akhil
hello akhil

In [23]:
# Ex2) take two inputs(numbers) from user and add the numbers
num1 = input("enter the first number : ")
num2 = input("enter the second number : ")
num3 = num1 + num2 
print(num3)

enter the first number : 23
enter the second number : 21
2321

#### remember, whatever value user inputs is converted to string by default

In [24]:
# check the type
print("type of num1 = {} and num2 = {} ".format(type(num1),type(num2)))

# convert to int
num1 = int(num1)
num2 = int(num2)

type of num1 = <class 'str'> and num2 = <class 'str'>

In [25]:
# add and print
num3 = num1 + num2 
print(num3)

44

In [26]:
print(type(num3))

<class 'int'>