# Dictionaries

. In Python dictionaries are written with curly brackets and they have keys and values seperated by commas.

# Properties

 .Can store different data types
    
.Order doesnt matter here

 .Keys should be unique
    
. Mutable

In [1]:
# Example
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
dict1
type(dict1)

dict

In [2]:
print(dict1)

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

In [3]:
print(len(dict1))

4

# Accessing Items

In [4]:
x = dict1["model"]
x

'Pulsar'

In [5]:
x = dict1["Brand"]
x

'Bajaj'

In [6]:
# 2) get(keyname)
x = dict1.get("model")
x

'Pulsar'

# Change/update Values

In [7]:
#update the year
dict1["year"] = 2018
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [8]:
# keys() method to get the keys 
keys = list(dict1.keys())
print(keys)

['Brand', 'model', 'year', 'cost']

In [10]:
values = list(dict1.values())
print(values)

['Bajaj', 'Pulsar', 2018, 85000]

In [11]:
# items() method to get both keys and values
items = list(dict1.items())
items

[('Brand', 'Bajaj'), ('model', 'Pulsar'), ('year', 2018), ('cost', 85000)]

# Adding items to an existing dictionary

In [12]:
# add color of the bike
dict1["color"] = "Black"
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'Black'}

In [13]:
# add color of the bike
dict1["tyretype"] = "ceat"
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'Black',
 'tyretype': 'ceat'}

In [14]:
# 1) pop(key)
rem = dict1.pop('model')
print(rem)
print(dict1)

Pulsar
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyretype': 'ceat'}

In [15]:
# 2) popitem() removes the last inserted item
print(dict1)
dict1.popitem()
print(dict1)

{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyretype': 'ceat'}
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black'}

In [16]:
# 3) del keyword
del dict1['year']

In [17]:
dict1

{'Brand': 'Bajaj', 'cost': 85000, 'color': 'Black'}

In [18]:
# 4) clear() method
dict1.clear()

In [19]:
dict1

{}

# Copy a dictionary

In [20]:
# 1) copy() method
dict1 = {
  "brand": "Bajaj",
  "model": "Pulsar",
  "year": 2015,
  "cost": 85000
}
mydict = dict1.copy()
print(mydict)

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

# Nested Dictionaries

In [21]:
child1 = { 
    "name" : "akhil",
    "age" : "23"
}
child2 = {
    "name " : "anil",
    "age" : "21"
    
}


myfamily = {
    "child1" : child1,
    "child2" : child2
    
}

In [22]:
myfamily

{'child1': {'name': 'akhil', 'age': '23'},
 'child2': {'name ': 'anil', 'age': '21'}}

In [30]:
myfamily = {
  "child1" : { 
    "name" : "akhil",
    "age"  :"23"
   },
    
    "child2" : {
        "name" : "anil",
        "age" : "21"
    }
}

In [31]:
myfamily

{'child1': {'name': 'akhil', 'age': '23'},
 'child2': {'name': 'anil', 'age': '21'}}

# Exercises on Dictionaries

In [39]:
myfamily = {
  "child1" : { 
    "name" : "akhil",
    "age"  :"23",
      "hobbies" : ["Music","Cricket","TV"]
   },
    
    "child2" : {
        "name" : "anil",
        "age" : "21"
    }
}
myfamily

{'child1': {'name': 'akhil',
  'age': '23',
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'anil', 'age': '21'}}

In [40]:
#accessing "akhil"
myfamily["child1"]["name"]

'akhil'

In [41]:
#accessing 23
myfamily["child1"]["age"]

'23'

In [42]:
#accessing "anil"
myfamily["child2"]["name"]

'anil'

In [43]:
#accessing 21
myfamily["child2"]["age"]

'21'

In [44]:
myfamily

{'child1': {'name': 'akhil',
  'age': '23',
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'anil', 'age': '21'}}

In [45]:
#accessing 'Cricket'
myfamily['child1']['hobbies'][1]

'Cricket'

In [46]:
# get ['Cricket','TV']
myfamily['child1']['hobbies'][1:]

['Cricket', 'TV']

In [47]:
#get ['Music','TV']
myfamily['child1']['hobbies'][::-1]

['TV', 'Cricket', 'Music']

# Task-5

In [50]:
dict1 = {
    "april batch" : {
        "students" : {
            "name" : "akhil",
            "marks" :{
                "python" : 70,
                "mock test" : 80
            }
        }
    }
}

From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks