# Lists

in the python lists are written in []

### Important properties of lists

. Can store different data types

. Duplicate values are allowed

. Order is retained

. Indexing and slicing is possible

. Mutable

In [1]:
list1 = [1,2,3,4.5,5.5,"maths","python",True,False]# list with different data types

In [2]:
list1

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

In [4]:
type((list1))

list

In [5]:
len(list1)# it give the length of the function

9

# Indexing
 . Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [7]:
# to get the first element
list1 = [1,2,3,4,5,6,7,8,9]
list1[0]

1

In [8]:
list1[0 :8] # to get first 8 elements

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
list1[-5:]# to get last five elements

[5, 6, 7, 8, 9]

# Slicing

In [10]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [11]:
# to get first 5 elements 
list1[:5]

[1, 2, 3, 4, 5]

In [12]:
# to get last 5 elements 
list1[-5:]

[5, 6, 7, 8, 9]

In [13]:
# to get alternate elements 
list1 = [1,2,3,4,5,6,7,8,9]
list1[::2]

[1, 3, 5, 7, 9]

In [14]:
# to get every 3rd element from the starting position
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list1[::3]

[1, 4, 7]

# mutable

In [16]:
# to change the first value
list1[0] = 100
list1

[100, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# similarly you can change any values based on index position
list1[2] = 300
list1

[100, 2, 300, 4, 5, 6, 7, 8, 9]

# some inbuilt methods

In [18]:
# my_list
my_list = [1,2,3,True]
my_list

[1, 2, 3, True]

# append(val)
 . appends the value at the end of the list

In [22]:
my_list = [1,2,3,True]
my_list.append("akhilreddy")
print(my_list)

[1, 2, 3, True, 'akhilreddy']

In [23]:
my_list

[1, 2, 3, True, 'akhilreddy']

In [25]:
my_list.append("don")
print(my_list)

[1, 2, 3, True, 'akhilreddy', 'don', 'don']

In [26]:
print(type(my_list))

<class 'list'>

#### 2) insert(pos,element)

. inserts the element at the specified index

In [28]:
my_list

[1, 2, 3, True, 'akhilreddy', 'don', 'don']

In [31]:
my_list.remove("don")

In [33]:
my_list

[1, 2, 3, True, 'akhilreddy']

In [34]:
my_list.insert(3,4)# here we have insert the 3index element with 4

In [35]:
print(my_list)

[1, 2, 3, 4, True, 'akhilreddy']

In [36]:
# to insert value False after True
my_list.insert(0,False)

# copying the lists
1) my_list_copy = my_list

2) my_list_copy = my_list.copy()

In [37]:
my_list

[False, 1, 2, 3, 4, True, 'akhilreddy']

In [38]:
my_list_copy= my_list

In [39]:
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'akhilreddy']
[False, 1, 2, 3, 4, True, 'akhilreddy']

In [40]:
my_list_copy = my_list.copy()
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'akhilreddy']
[False, 1, 2, 3, 4, True, 'akhilreddy']

. Problem with assignment (=)

In [41]:
my_list_copy = my_list
print(my_list)

[False, 1, 2, 3, 4, True, 'akhilreddy']

In [42]:
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'akhilreddy']

In [43]:
my_list_copy[0] = 100

In [44]:
my_list_copy

[100, 1, 2, 3, 4, True, 'akhilreddy']

#### Note: original list is also getting modified

In [45]:
my_list

[100, 1, 2, 3, 4, True, 'akhilreddy']

#### 3) .copy()

In [46]:
my_list_copy = my_list.copy()
print(my_list)

[100, 1, 2, 3, 4, True, 'akhilreddy']

In [47]:
my_list_copy

[100, 1, 2, 3, 4, True, 'akhilreddy']

In [48]:
my_list_copy[0] = 0

In [49]:
my_list_copy

[0, 1, 2, 3, 4, True, 'akhilreddy']

#### Note: Original list is not getting modified

In [50]:
my_list

[100, 1, 2, 3, 4, True, 'akhilreddy']

#### 4) .extend()

syntax ----> list1.extend(list2)

In [51]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1.extend(list2)
list1.extend(list3)
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

In [52]:
# similar to addition of lists
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1 = list1+list2+list3
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

# 5) .pop(index)
 . removes the element from specified index and returns the element.

In [53]:
list1 = [1,2,3,4,5,6,7,8,9]

In [54]:
rem = list1.pop(2)

In [61]:
print(rem)

3

In [59]:
list1

[1, 2, 4, 5, 6, 7, 8, 9]

# Exercises on List

In [62]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [63]:
list1[0][1]

2

In [64]:
list1[1][2]

6

In [65]:
list1[2][0]

7

In [66]:
list2 = [1,2,[3,4,5,6,[7,8,9]]]
list2

[1, 2, [3, 4, 5, 6, [7, 8, 9]]]

In [67]:
#to access element 2
list2[1]

2

In [68]:
#to access element 4
list2[2][1]

4

In [69]:
#to access elements 7,8,9
list2[2][4]

[7, 8, 9]

In [70]:
#to access element 9
list2[2][4][2]

9

In [71]:
#to access 3,4,5,6
list2[2][:4]

[3, 4, 5, 6]

# Task-3.1
  . go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

# Task 3.2

In [72]:
# create a list of lenght = 10 and access 5th to 8th data.

# Task-4
  2 problems!

In [73]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]