# Python list methods

In [4]:
names = ["akhil" , 'anil', 'sunny']
print(names)

['akhil', 'anil', 'sunny']

In [5]:
names.append("sai")# adding of a element at the end of the presnt list

In [6]:
names

['akhil', 'anil', 'sunny', 'sai']

In [7]:
names.insert(2,"laxmi") # adding of  a element at the specifed index position

In [8]:
names

['akhil', 'anil', 'laxmi', 'sunny', 'sai']

In [10]:
names.count('anil')# to know how many times the specified value is there in the list
# syntax is  list.count(value)

1

In [11]:
# syntax is list.extend(iterable)
age =  [23, 24, 40,]
names.extend(age)

In [12]:
names

['akhil', 'anil', 'laxmi', 'sunny', 'sai', 23, 24, 40]

In [13]:
# syntax is list.index(elmnt)
names.index("sunny")

3

In [14]:
names.index(23)

5

In [15]:
# Definition and Usage
# The pop() method removes the element at the specified position
names.pop(4)
#  syntax list.pop(pos)

'sai'

In [16]:
names

['akhil', 'anil', 'laxmi', 'sunny', 23, 24, 40]

In [17]:
# Definition and Usage
# The remove() method removes the first occurrence of the element with the specified value.
names.remove("sunny")
# list.remove(elmnt)

In [18]:
names

['akhil', 'anil', 'laxmi', 23, 24, 40]

In [19]:
# Definition and Usage
# The reverse() method reverses the sorting order of the elements.
names.reverse()

In [20]:
names

[40, 24, 23, 'laxmi', 'anil', 'akhil']

In [29]:
cars = ["maruthi" , "tata", 'verna ']
cars.sort()# list.sort(reverse=True|False, key=myFunc) syntax

In [30]:
cars

['maruthi', 'tata', 'verna ']

In [31]:
names

[40, 24, 23, 'laxmi', 'anil', 'akhil']


# Method	Description

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

center()	Returns a centered string

count()	Returns the number of times a specified value occurs in a string

encode()	Returns an encoded version of the string

endswith()	Returns true if the string ends with the specified value

expandtabs()	Sets the tab size of the string

find()	Searches the string for a specified value and returns the position of where it was found

format()	Formats specified values in a string

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric

isalpha()	Returns True if all characters in the string are in the alphabet

isascii()	Returns True if all characters in the string are ascii characters

isdecimal()	Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Converts the elements of an iterable into a string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was
            found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list


rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list


strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

Note: All string methods returns new values. They do not change the original strin

In [32]:
love = ("i love my india")

In [33]:
love.capitalize()

'I love my india'

In [35]:
love.casefold()

'i love my india'

In [37]:
love.upper()

'I LOVE MY INDIA'

In [42]:
love.count("i")

3

In [43]:
love.count("a")

1

In [44]:
love.find("my")

7

In [45]:
love.index("i")

0

In [46]:
love.index("india")

10

In [47]:
love.replace("india", "country")

'i love my country'

In [49]:
love.title()

'I Love My India'

In [51]:
love.swapcase()

'I LOVE MY INDIA'

In [52]:
love.rfind("india")

10

# Python Dictionary Methods

# Method	Description

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and value

get()	Returns the value of the specified key

items()	Returns a list containing a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not exist: insert the key,                     with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary

In [57]:
# dictionary.clear() sintax
cars = {
    "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [58]:
cars

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
cars.copy()

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [61]:
cars

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [63]:
cars.fromkeys("brand" , "ford")

{'b': 'ford', 'r': 'ford', 'a': 'ford', 'n': 'ford', 'd': 'ford'}

In [64]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [65]:
# The get() method returns the value of the item with the specified key.
cars.get("brand")# dictionary.get(keyname, value) syntax

'Ford'

In [66]:
# The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

# The view object will reflect any changes done to the dictionary, see example below.
cars.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [67]:
x = cars.items()
cars["year"] = 2000

In [68]:
cars

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [69]:
cars.keys()

dict_keys(['brand', 'model', 'year'])

In [70]:
# The pop() method removes the specified item from the dictionary.
cars.pop("brand")
# dictionary.pop(keyname, defaultvalue) syntax

'Ford'

In [74]:
cars

{'model': 'Mustang', 'year': 2000}

In [79]:
cars.update({"tyre type" : "ceat"})

In [81]:
cars

{'model': 'Mustang', 'year': 2000, 'tyre type': 'ceat'}

In [82]:
cars.popitem()

('tyre type', 'ceat')

In [83]:
cars.values()

dict_values(['Mustang', 2000])