# Tuples

  In Python Tuples are written with round brackets.

# Important properties of Tuples

. Can store different data types

. Duplicate values are allowed

. Order is retained

. Indexing and slicing is possible

. Immutable.

In [1]:
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")

In [2]:
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [3]:
tup2 = (1,2,3,4,5,1,1)

In [4]:
type(tup2)

tuple

In [5]:
len(tup2)

7

# Create a tuple with one element

In [6]:
tup3 = ("python")

In [7]:
type(tup3)

str

In [8]:
tup3 = ("python" ,)

In [9]:
tup3

('python',)

In [10]:
type(tup3)

tuple

In [11]:
len(tup3)

1

# Indexing
 . Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [12]:
tup1[0]

1

In [13]:
tup1[4]

5.5

In [14]:
tup1[-1]

'Python'

#  Slicing

In [15]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [16]:
tup1[ :]

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [17]:
tup1[0:1]

(1,)

In [18]:
tup1[ : :2]

(1, 3, 5.5, False, 'Python')

# Immutable
  Once the tuple is created, you cannot add,remove or modify the elements

In [20]:
# try to add values
tup1 = (1,2,3,4,5)
tup1[5] = 6 # Error

TypeError: 'tuple' object does not support item assignment

In [21]:
# remove 
tup1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [22]:
# modify the values
tup1

(1, 2, 3, 4, 5)

In [23]:
tup1[0] = 100 #Error

TypeError: 'tuple' object does not support item assignment

# workaround to modify the values

In [24]:
# My original tuple
tup1

(1, 2, 3, 4, 5)

In [25]:
#Convert to list 
list1 = list(tup1)
list1

[1, 2, 3, 4, 5]

In [26]:
#Modify the value
list1[0] = 100
list1

[100, 2, 3, 4, 5]

In [27]:
#again convert to tuple
tup1 = tuple(list1)
tup1

(100, 2, 3, 4, 5)

# To check a perticular value is present

In [28]:
#use 'in' operator
#syntax ---> item in object
tup1
print(100 in tup1)

True

In [29]:
print(200 in tup1)

False

# Joining tuples

In [30]:
tup1 = (1,2,3,4)
tup2 = ("a","b","C","d")

tup3 = tup1 + tup2
tup3

(1, 2, 3, 4, 'a', 'b', 'C', 'd')

# some inbuilt methods

In [31]:
tup = (1,2,3,4,1,1,2,1,2,3,6)


# 1) count(item)
  Returns the number of times a specified item occurs in a tuple

In [32]:
tup.count(2)

3

In [33]:
tup.count(3)

2

# 2) index(item)
Returns the first index of specified item. If item is not present it will give error

In [35]:
tup.index(3)

2

In [36]:
tup.index(2)

1

In [37]:
tup.index(1)

0

In [40]:
tup.index(6)

10